@media (max-width: 1024px) {
    .waves {
        bottom: -209px;
    }
}
@media (max-width: 960px) {
    /* blog1 */
    .blogs-main-new {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-news-img-container {
        grid-row: 2;
        text-align: center;
    }
    .blogs-news-info-container {
        grid-column: 1;
        grid-row: 3;
    }
    .blogs-post-container .post-container {
        max-width: 45%;
    }
/* perfil */
    .profile-continer-hola {
        display: block;
        text-align: center;
    }
    .post-container-proyects{
        display: block;
    }
    /* blog 2 */
    .blog2-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    /* contacto */
    .contact-main-container div {
        height: 0;
    }

    header .header-icon-container img {
        top: 15px;
        left: 6%;
        height: 12%;
    }

    .waves {
        bottom: -222px;
    }

}
@media (max-width: 600px) {
    .blogs-post-container .post-container {
        max-width: 95%;
        
    }
    .post-container-proyects {
        display: block;
    }
    header .header-icon-container img {
        top: 26px;
        left: 3%;
        height: 8.5%;
    }

    .waves {
        bottom: -222px;
    }
}

@media (max-width: 390px) {
    .blogs-main-baby {
        height: 18vh;

    }

    .blogs-baby-info-container {
        font-size: 0.6em;
    }

    .blogs-baby-img-container img {
        height: 67%;
    }

    .waves {
        bottom: -46px;
    }

    nav .profile-link {
        font-size: 0.5em;
        margin-right: 42px;
    }
    
    header .header-icon-container img {
        top: 16px;
        left: 3%;
        height: 3%;
    }

    nav {
        height: 2em;
    }

    .contact-main-container {
        display: contents;
    }

    .card img {
        width: 70px;
        top: 140%;
    }
    .content-card p {
        font-size: 0.7em;
    }
}